<html>
  <head>
    <title>User</title>
    <style>
      <%= STYLE %>
    </style>
  </head>
  <body>

    <h1> <%= HEADER %> </h1>
    <h2>User</h2>
    <p> Name: <%= "#{@user.first_name} #{@user.last_name}" %> </p>

  </body>
</html>
